<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ClientSettingsProvider.ConnectionStringName" value="DefaultConnection" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientWindowsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" connectionStringName="DefaultConnection" credentialsProvider="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" connectionStringName="DefaultConnection" />
      </providers>
    </roleManager>
  </system.web>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ICallService" />
        <binding name="BasicHttpBinding_IUserService" />
        <binding name="BasicHttpBinding_IIncidentService" />
        <binding name="BasicHttpBinding_IBrigadeService" />
        <binding name="BasicHttpBinding_ICallResponseService" />
        <binding name="BasicHttpBinding_IVictimsService" />
        <binding name="BasicHttpBinding_IEquipmentService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:1122/CallService.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ICallService" contract="CallService.ICallService"
        name="BasicHttpBinding_ICallService" />
      <endpoint address="http://localhost:1122/UserService.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IUserService" contract="UserService.IUserService"
        name="BasicHttpBinding_IUserService" />
      <endpoint address="http://localhost:1122/IncidentService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IIncidentService"
        contract="IncidentService.IIncidentService" name="BasicHttpBinding_IIncidentService" />
      <endpoint address="http://localhost:1122/BrigadeService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBrigadeService"
        contract="BrigadeService.IBrigadeService" name="BasicHttpBinding_IBrigadeService" />
      <endpoint address="http://localhost:1122/CallResponseService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICallResponseService"
        contract="CallResponseService.ICallResponseService" name="BasicHttpBinding_ICallResponseService" />
      <endpoint address="http://localhost:1122/VictimsService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IVictimsService"
        contract="VictimsService.IVictimsService" name="BasicHttpBinding_IVictimsService" />
      <endpoint address="http://localhost:1122/EquipmentService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEquipmentService"
        contract="EquipmentService.IEquipmentService" name="BasicHttpBinding_IEquipmentService" />
    </client>
  </system.serviceModel>
</configuration>