<h2>@Html.ActionLink("To calls", "CallList", "CallList")</h2>
<h2>@Html.ActionLink("Brigade List", "BrigadeList", "Brigade")</h2>
<h2>@Html.ActionLink("Equipment List", "EquipmentList", "Equipment")</h2>

@if (HttpContext.Current.User.IsInRole("Admin"))
{
    <h2>@Html.ActionLink("Users", "UserList", "User")</h2>
}
