@model EmercomDisp.Web.Models.CallViewModels.CallItemViewModel
<div class="panel">
    <div class="col-md-5">@Html.ActionLink(Model.Address, "CallDetails", "Call", new { id = Model.CallId }, null)</div>
    <div class="col-md-5">@Model.CallTime</div>
</div>