<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="Logs\Log.log"/>
      <param name="AppendToFile" value="true"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="5MB"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d  %-5p %m%n"/>
      </layout>
    </appender>
    <appender name="ErrorFile" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\Error.log"/>
      <appendToFile value="true"/>
      <maximumFileSize value="5MB"/>
      <maxSizeRollBackups value="10"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%level %thread %logger - %message%newline"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR"/>
        <levelMax value="FATAL"/>
      </filter>
    </appender>

    <logger name="LOGGER">
      <appender-ref ref="LogFileAppender"/>
      <appender-ref ref="ErrorFile"/>
    </logger>
  </log4net>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7" />
    <httpRuntime targetFramework="4.7" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="EmercomDisp.Service.Services.CallService">
        <endpoint address="" contract="EmercomDisp.Service.Contracts.Contracts.ICallService" binding="basicHttpBinding"></endpoint>
        <endpoint address="mex" contract="IMetadataExchange" binding="basicHttpBinding"></endpoint>
      </service>
      <service name="EmercomDisp.Service.Services.UserService">
        <endpoint address="" contract="EmercomDisp.Service.Contracts.Contracts.IUserService" binding="basicHttpBinding"></endpoint>
        <endpoint address="mex" contract="IMetadataExchange" binding="basicHttpBinding"></endpoint>
      </service>
      <service name="EmercomDisp.Service.Services.IncidentService">
        <endpoint address="" contract="EmercomDisp.Service.Contracts.Contracts.IIncidentService" binding="basicHttpBinding"></endpoint>
        <endpoint address="mex" contract="IMetadataExchange" binding="basicHttpBinding"></endpoint>
      </service>
      <service name="EmercomDisp.Service.Services.CallResponseService">
        <endpoint address="" contract="EmercomDisp.Service.Contracts.Contracts.ICallResponseService" binding="basicHttpBinding"></endpoint>
        <endpoint address="mex" contract="IMetadataExchange" binding="basicHttpBinding"></endpoint>
      </service>
      <service name="EmercomDisp.Service.Services.BrigadeService">
        <endpoint address="" contract="EmercomDisp.Service.Contracts.Contracts.IBrigadeService" binding="basicHttpBinding"></endpoint>
        <endpoint address="mex" contract="IMetadataExchange" binding="basicHttpBinding"></endpoint>
      </service>
      <service name="EmercomDisp.Service.Services.VictimsService">
        <endpoint address="" contract="EmercomDisp.Service.Contracts.Contracts.IVictimsService" binding="basicHttpBinding"></endpoint>
        <endpoint address="mex" contract="IMetadataExchange" binding="basicHttpBinding"></endpoint>
      </service>
    </services>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
<connectionStrings>
    <add name ="EmercomBase" connectionString="Data Source=DESKTOP-QKK7PT4\SQLEXPRESS;Initial Catalog=EmercomDisp;Persist Security Info=True;User ID=Test;Password=test" providerName="System.Data.SQLClient"/>
  </connectionStrings>
</configuration>
