@model EmercomDisp.Web.Models.CategoryViewModels.CategoryViewModel
@Html.ActionLink("All", "CallList", "CallList")
@foreach (string categoryName in Model.Categories)
{
    <h5>@Html.ActionLink(categoryName,"CallList","CallList",new { category = categoryName },null)</h5>
}
